<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing suite for paramater Annotation">
	<test name="ParamaterAttributr">
	
	<parameter name="url" value="https://www.amazon.ca/"></parameter>
	
	<classes>
		<class name= "com.TestNG.ParamaterAnnotation"></class>
	
	</classes>
	
	
	
	
	
	</test>

</suite>